
.list-item-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.list-item-container .material-icons {
  margin-right: 8px;
}


.item-medium {
  display: inline-block;
}

.item-medium .material-icons {
    font-size: 48px;
}


