<mdc-list-group>
  <mdc-list avatar singleSelection interactive useSelectedClass verticalOrientation>
    <mdc-list-item *ngFor="let item of getItems()">
      <div *ngIf="mode === 'folders'; then folderLayout; else fileLayout"></div>

      <ng-template #folderLayout class="folder-layout">
        <div class="list-item-container" (click)="folderClicked($event)">
          <mat-icon mdcListItemGraphic color="primary">{{ item.icon }}</mat-icon> <mdc-list-item-text>{{ item.name }}</mdc-list-item-text>
        </div>
      </ng-template>

      <ng-template #fileLayout class="file-layout">
        <span class="item-medium">
          <mat-icon mdcListItemGraphic color="primary">{{ item.icon }}</mat-icon>
          <mdc-list-item-text>{{ item.name }}</mdc-list-item-text>
        </span>
      </ng-template>
    </mdc-list-item>
  </mdc-list>
</mdc-list-group>
